.wrapper {
  line-height: normal;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font);
  line-height: normal;
}

#sidebar {
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#sidebar .custom-menu .btn.btn-primary {
  background: var(--color-bg2);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: var(--color-bg2) !important;
  border-color: var(--color-bg2) !important;
}

.wrapper .bg-wrap {
  background: #fff;
}

.wrapper .inner-img img {
  width: 100px;
  height: auto;
}

.wrapper .bg-wrap::after {
  display: none;
}

.wrapper .bg-wrap .user-logo h3 {
  color: var(--color-text);
}

#sidebar ul li.active>a {
  color: #909090;
  background: #F9F9F9;
}

#sidebar ul li a {
  color: #909090;
  border: none;
  display: flex;
  align-items: center;
}

#sidebar ul li a i {
  font-size: 23px;
  margin-right: 16px;
}

#sidebar ul li.active>a:hover {
  background: #F9F9F9;
  border: none;
}

#sidebar ul li a:hover {
  color: var(--color-bg2);
  background: #F9F9F9;
  border: none;
}

#content {
  padding: 35px;
}

.inner-gth .inner-right {
  display: flex;
  align-items: center;
}

.inner-gth .inner-right .inner-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
}

.inner-gth .inner-right .inner-user {
  background: #ddd;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 16px;
}

.inner-gth .inner-right .inner-thongbao {
  margin-right: 5px;
  font-size: 16px;
}

.inner-gth .inner-right .inner-admin {
  font-size: 16px;
}

.giaodien .inner-item {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  height: 500px;
  position: relative;
  margin-bottom: 20px;
}

.giaodien .inner-item .inner-box {
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s ease;
  height: 460px;
}

.giaodien .inner-item .inner-box:hover {
  transform: translateY(-10px);
  background: linear-gradient(45deg, var(--color-bg2), orange);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.giaodien .inner-item .inner-box .inner-so {
  position: absolute;
  font-size: 32px;
  right: 30px;
  top: 5px;
  font-weight: 700;
}

.giaodien .inner-item .inner-box .inner-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.giaodien .inner-item .inner-box .inner-img img {
  width: 200px;
  height: auto;
}

.giaodien .inner-item .inner-box .inner-title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.giaodien .inner-item .inner-box .inner-desc {
  margin: 0;
  font-size: 15px;
}

.giaodien .inner-item .inner-box .inner-desc {
  margin: 0;
  font-size: 15px;
}

.giaodien .inner-item .inner-box .inner-desc {
  margin: 0;
  font-size: 15px;
}
/* product */
.admin-control-right i {
  margin-right: 5px;
}
.admin-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.admin-control-center {
  flex: 1;
}

.admin-control-right {
  display: flex;
  flex-wrap: wrap;
}

.admin-control-left{
  margin-bottom: 10px;
}

.admin-control-right button {
  width: 40px;
  margin-left: 10px;
  border-radius: 5px;
}

.admin-control-right button:hover {
  background-color: var(--color-bg2);
  color:#fff
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
select {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  border-right: 10px solid #eee !important;
  height: 40px;
  cursor: pointer;
}
.btn-reset-order {
  height: 40px;
  margin-top: 0px;
}

@media only screen and (max-width: 980px) {
  .admin-control-center {
      margin: 1rem -1rem;
      width: 25rem;
  }

  select{
      margin-bottom: 10px;
  }

  #tinh-trang,.form-control-date {
      width: 135px;
  }

  .status-no-complete,.status-complete {
      display: inline;
      white-space: nowrap;
  }

  .list-info p,.list-old-price {
      display: none;
  }

  .header {
      z-index: 100;
      display: flex;
  }

  .form-search {
      position: fixed;
      left: 60px;
      top: 10px;
      width: 70%;
      z-index: 101;
  }

  .sidebar{
      height: calc(100vh - var(--header-height));
      top: var(--header-height);
  }

  .cards{
      flex-wrap: wrap;
  }
}
.form-search-input {
  height: 40px;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  padding: 10px 20px;
  padding-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 75%;
}

.form-search {
  display: flex;
  justify-content: center;
}
.search-btn {
  border: none;
  outline: none;
  font-size: 20px;
  height: 40px;
  padding: 0 15px;
  color: var(--text-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
}
/* page nav */

.page-nav,
.page-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
}

.page-nav-item a {
    display: inline-block;
    color: #000;
    border: 2px solid #000;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    font-size: 15px;
}
li{
  display: block;
}
.page-nav-item.active a,
.page-nav-item a:hover {
    background-color: var(--color-bg2);
    color: #fff;
    border: 2px solid var(--color-bg2);
}
/* end of page nav */
.product-all {
  padding: 20px 80px;
}

.btn-control-large{
  background-color: var(--color-bg2);
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 0 20px;
  width: auto!important;
}

.list {
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
}

.list-header {
  margin-left: 50px;
}

.list-left {
  display: flex;
  width: 80%;
}

.list-left img {
  max-width: 180px;
  min-width: 180px;
  height: 110px;
  object-fit: cover;
  margin-right: 14px;
  border-radius: 5px;
}

.list-category {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 12px;
  border: 1px solid #b0bec5;
  color: #78909c;
  border-radius: 30px;
  font-size: 13px;
}

.list-right {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: flex-end;
}

.list-info p {
  margin-top: 7px;
  flex-grow: 1;
}

.list-info h4 {
  font-weight: 500;
  color: var(--text-color);
  font-size: 16px;
}

.list-note {
  color: #0000008a;
  font-size: 14px;
  margin-right: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
}

.list-old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #808080;
  margin-right: 10px;
}

.list-current-price {
  color: var(--color-bg2);
  font-weight: 500;
}

.list-control {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn-detail,
.btn-edit,
.btn-delete {
  background-color: #eee;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
  color: var(--text-color);
  text-transform: uppercase;
  margin-left: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.list+.list {
  margin-top: 10px;
}

.list-tool {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.btn-detail,
.btn-edit {
  outline: none;
  background-color: #e5e5e5;
  margin-right: 5px;
}

.btn-delete {
  background-color: var(--color-bg2);
  color: white;
}
.no-result {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.no-result i {
  color: #757575;
  font-size: 80px;
  margin-top: 30px;
}
.no-result-h {
  font-size: 20px;
  margin: 10px;
}
/* customer */
.fillter-date {
  display: flex;
}
.fillter-date>div>label {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
}
#tinh-trang, .form-control-date {
  background-color: #eee;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  height: 40px;
}
.status-complete {
  background-color: #27ae60;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  display: inline-block;
}
.status-no-complete {
  background-color: #f04e2e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  display: inline-block;
}
tbody tr td{
  text-align: center;
}

thead td {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  background: var(--lighter-gray);
  padding: 15px;
  text-align: center;
  white-space: nowrap;
  background-color: #ddd;
}
/* Modal */
/* Statistical */

.order-statistical{
  display: flex;
  margin: 30px 0;
  column-gap: 20px;
}

.order-statistical-item{
  box-shadow: 0px 1px 5px 2px #f1f1f1;
  width: 32.1%;   
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
}

.order-statistical-item-icon i{
  font-size: 45px;
  margin-right: 25px;
  color: var(--color-bg2);
}

.order-statistical-item-content-desc{
  margin-bottom: 6px;
  font-size: 14px;
  color:#888
}

.access-denied-section{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.access-denied-img{
  width: 100%;
}

.no-result{
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.no-result-h{
  font-size: 20px;
  margin: 10px
}
.no-result i{
  color: #757575;
  font-size: 80px;
  margin-top: 30px;
}
@media only screen and (max-width: 786px) {
  .order-statistical{
      flex-wrap: wrap;
  }
  .order-statistical-item {
      width: 100%;
      margin-bottom: 10px;
  }

  .section {
      padding: 20px 10px;
  }
  
  .list-left>img {
      max-width: 140px;
      min-width: 140px;
      height: 110px;
  }
}
.table th, .table td {
  padding: 6px 10px;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}
.prod-img-title {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.prd-img-tbl {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 99px;
}
.prod-img-title p{
  margin: 0;
}