/* Header-top */

.header-top {
  background: #fff;
  box-shadow: inset 0px -0.5px 0px #e6e6e6;
  position: sticky;
  top: 0;
  z-index: 2000;
  width: 102%;
}

.header-top .inner-wrap {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .inner-left img {
  width: 90px;
}

.header-top .inner-right {
  display: flex;
}

.header-top .inner-middle {
  padding: 0 30px;
  flex: 1;
}

.header-top .inner-middle .inner-find {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top .inner-middle .inner-find input {
  height: 40px;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 45px;
  width: 70%;
  font-size: 14px;
}

.header-top .inner-middle .inner-button-find {
  background: var(--color-bg2);
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  right: 40px;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top .inner-right .inner-account {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}

.header-top .inner-right .inner-icon {
  font-size: 25px;
  margin-right: 10px;
  color: var(--color-bg2);
}

.header-top .inner-right .inner-register {
  font-size: 12px;
  color: var(--color-text);
}

.header-top .dropdown-toggle {
  padding: 0;
  font-size: 15px;
  color: var(--color-text);
}

.header-top .dropdown-item i {
  margin-right: 10px;
  color: var(--color-bg2);
}

.dropdown-item.active,
.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: #f8f9fa;
}

@media (max-width: 767.98px) {
  .header-top {
    width: 103%;
  }

  .header-top .inner-middle .inner-find input {
    display: none;
  }

  .header-top .inner-middle .inner-button-find {
    right: -115px;
    font-size: 25px;
    color: var(--color-bg2);
    background: none;
  }

  .header-top .inner-right .inner-register {
    display: none;
  }

  .header-top .dropdown-toggle {
    display: none;
  }

  .header-top .inner-text-shopping {
    display: none;
  }
}

@media (max-width: 450px) {
  .header-top .inner-middle .inner-button-find {
    right: -45px;
  }
}

@media (max-width: 320px) {
  .header-top .inner-middle .inner-button-find {
    right: -15px;
  }
}

/* Modal login and Modal register */

.header-top .modal-form .modal-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-top .modal-form .modal-header .close {
  background: black;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 1;
  color: #fff;
}

.header-top .modal-form .modal-content {
  border-radius: 12px;
}

.header-top .modal-form .inner-title {
  font-size: 22px;
  font-weight: 700;
}

.header-top .modal-form .inner-desc {
  margin-bottom: 0;
  text-align: center;
}

.header-top .modal-form .button {
  width: 100%;
  border: none;
  background: var(--color-bg2);
  padding: 10px;
  outline: 0;
  cursor: pointer;
  display: block;
  color: #fff;
  text-align: center;
}

/* End Modal login and Modal register */

.header-top .inner-right .inner-shopping {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-top .inner-right .inner-shopping .inner-icon {
  font-size: 25px;
  position: relative;
  margin-right: 10px;
}

.header-top .inner-right .inner-shopping .inner-so {
  color: #fff;
  background: var(--color-bg2);
  padding: 0 7px;
  position: absolute;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
  left: 20px;
  top: -8px;
}

/* Modal shopping */

.header-top .modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  right: 0;
  top: 0;
}

.header-top .modal.right .modal-content {
  height: 100%;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
}

.header-top .modal.right .modal-header {
  display: flex;
  align-items: center;
}

.header-top .modal.right .modal-header .inner-shopping {
  display: flex;
  align-items: center;
}

.header-top .modal.right .modal-header .inner-shopping .inner-icon {
  font-size: 20px;
  margin-right: 10px;
  color: var(--color-bg2);
}

.header-top .modal.right .modal-header .inner-shopping .inner-text-shopping {
  font-size: 19px;
  font-weight: 600;
}

.header-top .modal.right .modal-header .close {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header-top .modal.right .inner-icon {
  font-size: 70px;
  text-align: center;
}

.header-top .modal.right .inner-desc {
  font-size: 14px;
  text-align: center;
}

.header-top .modal.right .cart-item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.header-top .modal.right .inner-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-top .modal.right .inner-product img {
  width: 90px;
  object-fit: contain;
}

.header-top .modal.right .inner-product .inner-gia {
  color: #666666;
  font-size: 15px;
  font-weight: 600;
}

.header-top .modal.right .inner-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .modal.right .inner-info .inner-ten {
  font-size: 15px;
}

.header-top .modal.right .buttons_added {
  display: inline-flex;
}

.header-top .modal.right .is-form {
  background-color: #f9f9f9;
  height: 25px;
  width: 25px;
  border: 1px solid #ddd;
  cursor: pointer;
  line-height: 20px;
  border-radius: 50%;
}

.header-top .modal.right .input-qty {
  background-color: #fff;
  height: 25px;
  width: 30px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #ddd;
  padding: 0;
  border-radius: 5px;
  outline: none;
}

.header-top .modal.right .modal-footer {
  display: inline-block;
}

.header-top .modal.right .inner-tong {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-top .modal.right .inner-tong .inner-text-tong {
  font-size: 18px;
  font-weight: 600;
}

.header-top .modal.right .inner-tong .inner-gia-tong {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-bg2);
}

.header-top .modal.right .inner-nut {
  display: flex;
  justify-content: space-between;
}

.header-top .modal.right .inner-nut .inner-tm {
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  width: 50%;
  cursor: pointer;
  background-color: var(--white);
  border: 2px solid #000;
  margin-right: 5px;
}

.header-top .modal.right .inner-nut .inner-tm i {
  margin-right: 5px;
}

.header-top .modal.right .inner-tt {
  background: var(--color-bg2);
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  display: inline-block;
}

.header-top .modal.right .inner-tt.inner-tt-nologin {
  border: 0;
  outline: 0;
  opacity: 0.5;
}

/* End Modal shopping */

.modal {
  z-index: 2001;
}

/* End Header-top */

/* Header-bottom */

.header-bottom {
  background: #fff;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.6s ease;
}

.header-bottom.hide {
  transform: translateY(-50px);
  /* Ẩn header */
}

.header-bottom.show {
  transform: translateY(0);
  /* Hiển thị header */
}

.header-bottom .inner-menu {
  padding: 0 10px;
}

.header-bottom .inner-menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-bottom .inner-menu ul li a {
  color: var(--color-text);
  padding: 15px 25px;
  display: inline-block;
  font-size: 15px;
  position: relative;
}

.header-bottom .inner-menu ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  transform: scale(0);
  opacity: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: var(--color-bg2);
  transition: all 0.3s ease;
}

.header-bottom .inner-menu ul li a:hover::after {
  transform: scale(1);
  opacity: 1;
}

@media (max-width: 1199.98px) {
  .header-bottom .inner-menu ul li a {
    padding: 15px 19px;
  }
}

@media (max-width: 991.98px) {
  .header-bottom .inner-menu ul li a {
    padding: 15px 4px;
  }
}

@media (max-width: 767.98px) {
  .header-bottom .inner-menu ul li a {
    padding: 10px 4px;
  }
}

/* End Header-bottom */

/* Banner */

.Banner {
  padding-top: 60px;
  padding-bottom: 10px;
}

.Banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 767.98px) {
  .Banner {
    padding-top: 80px;
    padding-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .Banner {
    padding-top: 100px;
    padding-bottom: 10px;
  }
}

/* End Banner */

/* Service */

.Service {
  padding: 10px 0px;
}

.Service .inner-item {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 9px 2px #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}

.Service .inner-icon {
  color: var(--color-bg2);
  font-size: 38px;
  margin-right: 20px;
}

.Service .inner-chu1 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

.Service .inner-chu2 {
  font-size: 14px;
  color: #666666;
}

@media (max-width: 991.98px) {
  .Service .inner-item {
    margin-bottom: 10px;
  }
}

/* End Service */

/* Products */

.Products {
  padding-top: 30px;
  padding-bottom: 0;
}

.Products .inner-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.Products .inner-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 37%;
  width: 25%;
  height: 3px;
  background: var(--color-bg2);
}

.Products .inner-item {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.Products .inner-img {
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.Products .inner-img img {
  width: 100%;
  height: 155px;
  object-fit: cover;
  transition: all 0.4s ease;
}

.Products .inner-img img:hover {
  transform: scale(1.05);
}

.Products .inner-info {
  text-align: center;
}

.Products .inner-ten {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Products .inner-gia {
  color: var(--color-bg2);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Products .inner-muahang {
  color: #fff;
  font-size: 14px;
  width: 85%;
  padding: 5px;
  background: var(--color-bg2);
  border-radius: 45px;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

.Products .inner-muahang i {
  margin-right: 4px;
}

@media (max-width: 575.98px) {
  .Products .inner-item {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #e5e5e5;
  }

  .Products .inner-img {
    margin-bottom: 0;
    width: 155px;
  }

  .Products .inner-img img {
    width: 155px;
    height: 110px;
    border-radius: 5px;
  }

  .Products .inner-info {
    padding: 8px 10px;
  }

  .Products .inner-muahang {
    width: 100px;
  }
}

/* Modal order */

.Products .modal-header {
  padding: 0;
  position: relative;
}

.Products .modal-header .inner-hinh img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Products .modal-content {
  border: none;
}

.Products .modal-header .close {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  top: 2px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  outline: none;
  opacity: 1;
}

.Products .modal-body .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Products .modal-body .inner-info {
  display: flex;
  justify-content: space-between;
}

.Products .modal-body .inner-info .inner-gia {
  font-size: 17px;
}

.Products .modal-body .inner-info .inner-sl .inner-dau {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: 1px solid #ddd;
  text-align: center;
  padding: 0px;
}

.Products .modal-body .inner-info .inner-sl .inner-so {
  width: 30px;
  height: 25px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.Products .modal-body .inner-desc {
  font-size: 15px;
  margin: 0;
}

.Products .modal-footer {
  display: flex;
  justify-content: space-between;
}

.Products .modal-footer .inner-giaca .inner-chu {
  font-size: 13px;
  color: #808080;
}

.Products .modal-footer .inner-giaca .inner-so {
  font-size: 16px;
  color: var(--color-bg2);
  font-weight: 600;
}

.Products .modal-footer .inner-thanhtoan .inner-nut1 {
  background: var(--color-bg2);
  color: #fff;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 45px;
  padding: 7px 23px;
  cursor: pointer;
}

/* End Modal order */

/* End Products */

/* Pagination */

.Pagination ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.Pagination .inner-trang {
  background: #fff;
  color: var(--color-text);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Pagination .inner-trang:hover {
  color: #fff;
  background: var(--color-bg2);
  border: none;
}

.Pagination .inner-trang.trang-chinh {
  color: #fff;
  background: var(--color-bg2);
  border: none;
}

/* End Pagination */

/* Footer-top */

.Footer-top {
  padding: 30px 0;
  background: #f2f2f2;
  border-top: 4px solid var(--color-bg2);
}

.Footer-top .row {
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.Footer-top .inner-logo img {
  width: 120px;
  height: auto;
}

.Footer-top .inner-logo {
  text-align: center;
  border-right: 1px solid #ddd;
}

.Footer-top .inner-text .inner-chu1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.Footer-top .inner-text .inner-chu2 {
  color: #666666;
  font-size: 15px;
}

.Footer-top .inner-form input {
  padding: 13px 35px;
  border-radius: 45px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

.Footer-top .inner-form button {
  color: #fff;
  background: var(--color-bg2);
  padding: 13px 45px;
  border-radius: 45px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.Footer-top .inner-form button:hover {
  background: #fff;
  color: #010f1c;
}

.Footer-top .inner-form button i {
  margin-left: 10px;
}

@media (max-width: 1199.98px) {
  .Footer-top .inner-form input {
    padding: 13px 25px;
  }

  .Footer-top .inner-form button {
    padding: 13px 38px;
  }
}

@media (max-width: 991.98px) {
  .Footer-top .inner-logo {
    border: none;
    margin-bottom: 20px;
  }

  .Footer-top .inner-text {
    text-align: right;
  }

  .Footer-top .inner-text .inner-chu2 {
    display: none;
  }

  .Footer-top .inner-form input {
    padding: 13px 20px;
  }

  .Footer-top .inner-form button {
    padding: 13px 23px;
  }

  .Footer-top .inner-form button {
    padding: 13px 23px;
  }
}

@media (max-width: 767.98px) {
  .Footer-top .inner-text {
    text-align: center;
    margin-bottom: 15px;
  }

  .Footer-top .inner-form {
    text-align: center;
  }

  .Footer-top .inner-form input {
    padding: 13px 25px;
  }

  .Footer-top .inner-form button {
    padding: 13px 35px;
  }
}

/* End Footer-top */

/* Footer-middle */

.Footer-middle {
  padding: 30px 0;
  background: #f2f2f2;
}

.Footer-middle .inner-text {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.Footer-middle .inner-text::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-image: linear-gradient(to right, var(--color-bg2), transparent);
}

.Footer-middle .inner-desc {
  font-size: 16px;
  margin-bottom: 18px;
}

.Footer-middle .inner-icon {
  display: flex;
}

.Footer-middle .inner-icon i {
  color: #2c2c2c;
  width: 40px;
  height: 40px;
  border: 1px solid #2c2c2c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.Footer-middle .inner-icon i:hover {
  color: #fff;
  background: var(--color-bg2);
  transform: scale(1.1);
  border: none;
}

.Footer-middle ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Footer-middle ul li {
  margin-bottom: 12px;
}

.Footer-middle ul a {
  color: #2c2c2c;
  font-size: 16px;
}

.Footer-middle ul a i {
  margin-right: 10px;
  transition: all 0.3s ease;
}

.Footer-middle ul a i:hover {
  transform: translateX(4px);
}

.Footer-middle .inner-contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Footer-middle .inner-contact .inner-icon i {
  background: var(--color-bg2);
  border: none;
  color: #fff;
}

.Footer-middle .inner-contact .inner-diachi .inner-chu1 {
  font-size: 15px;
}

.Footer-middle .inner-contact .inner-diachi .inner-chu2 {
  font-size: 15px;
}

@media (max-width: 991.98px) {
  .Footer-middle .inner-icon {
    margin-bottom: 10px;
  }
}

/* End Footer-middle */

/* Footer-bottom */

.Footer-bottom {
  padding: 16px 0;
  background: #f3f5f7;
  border-top: 1px solid #e6e6e6;
}

.Footer-bottom .inner-end {
  text-align: center;
  font-size: 15px;
}

/* End Footer-bottom */

/* Account */

.Account {
  padding-top: 70px;
  padding-bottom: 30px;
}

.Account .inner-title {
  font-size: 18px;
  font-weight: 700;
}

.Account .inner-desc {
  font-size: 16px;
  padding-bottom: 13px;
  border-bottom: 1px solid #dae2e6;
  margin-bottom: 10px;
}

.Account form {
  padding: 20px;
  border: 1px solid #dae2e6;
}

.Account form label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.Account .form-control:focus {
  border-color: var(--color-bg2);
  box-shadow: none;
}

.Account .form-group {
  margin-bottom: 10px;
}

.Account .form-group.cach-duoi {
  margin-bottom: 85px;
}

.Account .button {
  background: var(--color-bg2);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.Account .button i {
  margin-right: 5px;
}

@media (max-width: 767.98px) {
  .Account .button {
    margin-bottom: 10px;
  }

  .Account .form-group.cach-duoi {
    margin-bottom: 10px;
  }
}

/* End Account */

/* ThongTin */

.ThongTin {
  padding-top: 70px;
  padding-bottom: 0;
  background: #f5f5f5;
}

.ThongTin .inner-tt {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.ThongTin .inner-item {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 3%);
}

.ThongTin .inner-gth {
  display: flex;
}

.ThongTin .inner-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 4px;
}

.ThongTin .inner-ten {
  font-size: 15px;
  font-weight: 600;
}

.ThongTin .inner-sl {
  font-size: 15px;
}

.ThongTin .inner-gia {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-bg2);
}

.ThongTin .inner-tien {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ThongTin .inner-tientong {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid var(--color-bg2);
  padding: 20px 0;
}

.ThongTin .inner-tien .inner-th {
  font-size: 15px;
}

.ThongTin .inner-tien .inner-th span {
  font-size: 13px;
  color: var(--color-bg2);
}

.ThongTin .inner-tien .inner-st {
  font-size: 15px;
  font-weight: 600;
}

.ThongTin .inner-tien .inner-pvc {
  font-size: 15px;
}

.ThongTin .inner-tientong .inner-tong {
  font-size: 16px;
}

.ThongTin .inner-tientong .inner-total {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-bg2);
}

.ThongTin .button {
  background: var(--color-bg2);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
}

.ThongTin label {
  font-size: 15px;
  font-weight: 600;
}

.ThongTin input {
  font-size: 15px;
}

.ThongTin input:hover {
  border-color: var(--color-bg2);
}

.ThongTin .form-control:focus {
  border-color: var(--color-bg2);
  box-shadow: none;
}

.ThongTin textarea {
  font-size: 15px;
  height: 80px;
}

.ThongTin textarea:hover {
  border-color: var(--color-bg2);
}

.ThongTin textarea.form-control:focus {
  border-color: var(--color-bg2);
  box-shadow: none;
}

/* End ThongTin */

/* PhuongThuc */

.PhuongThuc .inner-main {
  border-radius: 10px;
  overflow: hidden;
}

.PhuongThuc .card {
  border: none;
  margin-bottom: 10px;
  overflow: hidden;
}

.PhuongThuc .card-header {
  background: #fff;
  border: 0;
  padding: 0;
}

.PhuongThuc .btn {
  color: orange;
  border: 1px solid orange;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  filter: inherit;
}

.PhuongThuc .btn.grayscale {
  filter: grayscale(1);
}

.PhuongThuc .inner-icon img {
  height: 21px;
  margin-right: 15px;
}

.PhuongThuc .btn.collapsed {
  margin-bottom: 10px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.PhuongThuc .card-body {
  font-size: 15px;
  padding: 0;
}

.PhuongThuc .inner-tk {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
}

.PhuongThuc .inner-nhleft {
  padding: 12px;
  font-size: 15px;
}

.PhuongThuc .inner-nhright {
  padding: 12px;
  font-size: 15px;
  font-weight: 700;
}

.PhuongThuc .col-xl-6 {
  border-bottom: 1px solid #dee2e6;
}

/* End PhuongThuc */

/* products */

.products {
  padding-top: 70px;
  padding-bottom: 30px;
}

.products .inner-title {
  font-size: 18px;
  font-weight: 700;
}

.products .inner-desc {
  font-size: 16px;
  padding-bottom: 13px;
  border-bottom: 1px solid #dae2e6;
}

.products form {
  padding: 20px;
  border: 1px solid #dae2e6;
}

.products .inner-menu {
  margin-top: 20px;
}

table {
  width: 100%;
}

.products table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px 8px;
}

.products th {
  font-weight: 700;
  font-size: 15px;
  padding: 10px 5px;
  border-bottom: 1px solid #000;
}

.products td {
  font-size: 15px;
}

.products td .active {
  color: var(--color-bg2);
}

/* End products */

/* ChiTiet */

.chitiet {
  padding-top: 70px;
  padding-bottom: 30px;
}

.chitiet .inner-chitiet {
  display: flex;
  justify-content: space-between;
}

.chitiet .inner-chitiet .inner-tt {
  font-size: 19px;
  margin-bottom: 27px;
}

.chitiet .inner-chitiet .inner-vc {
  font-size: 15px;
}

.chitiet .inner-trangthai {
  display: flex;
  font-size: 15px;
  margin-bottom: 30px;
}

.chitiet .inner-trangthai .inner-ct {
  margin-right: 35px;
}

.chitiet .inner-trangthai .inner-ct i {
  color: #27ae60;
  font-weight: 700;
}

.chitiet .inner-trangthai .inner-ngay i {
  color: #27ae60;
  font-weight: 700;
}

.chitiet .inner-diachi .inner-ten {
  margin-bottom: 6px;
  font-size: 17px;
}

.chitiet .inner-diachi .inner-gth {
  min-height: 110px;
  padding: 13px 25px 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.chitiet .inner-diachi .inner-gth .inner-ten {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 700;
}

.chitiet .inner-diachi .inner-gth .inner-dc {
  font-size: 15px;
  margin-bottom: 8px;
}

.chitiet .inner-diachi .inner-gth .inner-sdt {
  font-size: 15px;
}

.chitiet .inner-diachi .inner-gth .inner-tt {
  font-size: 15px;
}

.chitiet .inner-diachi .inner-gth .inner-ghichu {
  font-size: 15px;
}

.chitiet .inner-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 14px;
}

.chitiet .inner-menu {
  padding: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-top: 20px;
}

.chitiet .inner-menu .inner-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.chitiet .inner-menu .inner-item .inner-info {
  display: flex;
}

.chitiet .inner-menu .inner-tonggia {
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
  margin-bottom: 0;
}

.chitiet .inner-menu .inner-item .inner-ten {
  font-size: 16px;
  font-weight: 500;
}

.chitiet .inner-menu .inner-item .inner-gia {
  color: var(--color-bg2);
  font-weight: 700;
}

.chitiet .inner-menu .inner-tonggia .inner-tien {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chitiet .inner-menu .inner-tonggia .inner-tien .inner-th {
  font-size: 16px;
}

.chitiet .inner-menu .inner-tonggia .inner-tien .inner-th span {
  font-size: 14px;
  color: var(--color-bg2);
}

.chitiet .inner-menu .inner-tonggia .inner-tien .inner-st {
  font-size: 16px;
  font-weight: 700;
}

.chitiet .inner-menu .inner-tonggia .inner-vanchuyen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chitiet .inner-menu .inner-tonggia .inner-vanchuyen .inner-vc1 {
  font-size: 16px;
}

.chitiet .inner-menu .inner-tonggia .inner-vanchuyen .inner-vc2 {
  font-size: 16px;
  font-weight: 700;
}

.chitiet .inner-menu .inner-tonggia .inner-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chitiet .inner-menu .inner-tonggia .inner-total .inner-tong1 {
  font-size: 16px;
}

.chitiet .inner-menu .inner-tonggia .inner-total .inner-tong2 {
  color: var(--color-bg2);
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .chitiet .inner-diachi .inner-gth {
    min-height: 132px;
  }
}

@media (max-width: 767.98px) {
  .chitiet .inner-diachi {
    margin-bottom: 25px;
  }

  .chitiet .inner-chitiet .inner-vc {
    margin-bottom: 20px;
  }

  .chitiet .inner-chitiet {
    display: block;
    justify-content: space-between;
  }

  .chitiet .inner-trangthai {
    display: block;
  }

  .chitiet .inner-diachi .inner-gth {
    min-height: 0;
  }

  .chitiet .inner-menu {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .chitiet {
    padding-top: 100px;
  }
}

/* End ChiTiet */

/* Products mon-man */

.Products.mon-man {
  padding-top: 70px;
  padding-bottom: 0;
}

.Products.mon-man .inner-menu {
  padding: 12px;
  border-right: 1px solid #eee;
}

.Products.mon-man .inner-menu .inner-name {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 12px;
}

.Products.mon-man .inner-menu .inner-vung {
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 12px;
  border-top: 1px solid #eee;
}

.Products.mon-man .inner-menu .inner-mucgia {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #eee;
}

.Products.mon-man .inner-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Products.mon-man .inner-menu ul li {
  padding: 4px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  font-weight: 500;
  transition: all 0.25s ease;
  cursor: pointer;
}

.Products.mon-man .inner-menu ul li:hover {
  color: var(--color-bg2);
}

.Products.mon-man .inner-menu ul li input {
  margin-right: 6px;
  cursor: pointer;
}

.Products.mon-man .inner-menu ul li label {
  margin-bottom: 0;
  cursor: pointer;
}

.Products.mon-man input[type="checkbox"] {
  accent-color: var(--color-bg2);
}

.Products.mon-man .inner-monman {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.Products.mon-man .inner-timkiem input {
  height: 40px;
  outline: none;
  border: none;
  background: #fff;
  border: 1px solid rgba(34, 34, 34, 0.2);
  padding: 10px 20px;
  border-radius: 45px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.Products.mon-man .inner-timkiem .inner-tk {
  background: var(--color-bg2);
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  right: 28px;
  top: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Products.mon-man .inner-loc {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
}

.Products.mon-man .inner-loc ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Products.mon-man .inner-loc ul li a {
  color: #898989;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
}

.Products.mon-man .inner-loc ul li a::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0px;
  background: var(--color-bg2);
  position: absolute;
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s ease;
}

.Products.mon-man .inner-loc ul li a:hover::after {
  transform: scale(1);
  opacity: 1;
}

.Products.mon-man .inner-loc ul .nut {
  display: none;
}

@media (max-width: 767.98px) {
  .Products.mon-man {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

@media (max-width: 575.98px) {
  .Products.mon-man .inner-loc ul .nut {
    display: block;
  }

  .Products.mon-man .inner-loc ul .nut {
    border: 1px solid #eee;
    background: #fff;
    border-radius: 5px;
    outline: 0;
    width: 125px;
    padding: 0 10px;
    cursor: pointer;
  }

  .Products.mon-man .inner-loc {
    padding: 10px 0;
  }

  .Products.mon-man .inner-loc .inner-sapxep {
    margin-right: 10px;
  }

  .Products.mon-man .inner-loc ul li {
    display: none;
  }
}

@media (max-width: 500px) {
  .Products.mon-man {
    padding-top: 100px;
    padding-bottom: 0;
  }
}

/* End Products mon-man */

/* ChiTietSP */

.chitietSP {
  padding-top: 70px;
  padding-bottom: 30px;
}

.chitietSP .inner-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.chitietSP .col-xl-9 {
  border-right: 1px solid #ebebeb;
}

.chitietSP .inner-content .inner-ten {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.chitietSP .inner-content .inner-tt {
  font-size: 15px;
  margin-bottom: 10px;
}

.chitietSP .inner-content .inner-tt .inner-conhang {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  background: #35b8a0;
}

.chitietSP .inner-content .inner-tt .inner-conhang i {
  margin-right: 5px;
}

.chitietSP .inner-content .inner-gia {
  font-size: 30px;
  color: var(--color-bg2);
  margin: 10px 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}

.chitietSP .inner-content .inner-desc {
  font-size: 14px;
  color: #898989;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}

.chitietSP .inner-add {
  display: flex;
  align-items: center;
}

.chitietSP .inner-add .inner-sl {
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
}

.chitietSP .inner-add .inner-tanggiam {
  position: relative;
  margin-right: 10px;
}

.chitietSP .inner-add .inner-tanggiam .inner-tru {
  width: 40px;
  height: 42px;
  font-size: 25px;
  cursor: pointer;
  color: #898989;
  position: absolute;
  left: 0;
  text-align: center;
}

.chitietSP .inner-add .inner-tanggiam .inner-so {
  width: 110px;
  height: 42px;
  background: #fff;
  border: 1px solid #ddd;
  outline: 0;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.chitietSP .inner-add .inner-tanggiam .inner-cong {
  width: 40px;
  height: 42px;
  font-size: 20px;
  top: 5px;
  cursor: pointer;
  color: #898989;
  position: absolute;
  right: 0;
  text-align: center;
}

.chitietSP .inner-add .inner-nut {
  color: #fff;
  height: 45px;
  width: 185px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--color-bg2);
  cursor: pointer;
}

.chitietSP .inner-danhmuc .inner-danhmuc {
  margin-bottom: 30px;
}

.chitietSP .inner-danhmuc .inner-dm {
  padding: 10px 15px 15px 15px;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
}

.chitietSP .inner-danhmuc .inner-dm:nth-child(4) {
  border: none;
}

.chitietSP .inner-danhmuc .inner-dm .inner-hinh img {
  width: 50px;
  margin-bottom: 5px;
}

.chitietSP .inner-danhmuc .inner-dm .inner-chu {
  font-size: 14px;
}

.chitietSP .inner-noibat {
  border: 1px #ebebeb solid;
  border-radius: 15px;
}

.chitietSP .inner-noibat .inner-sp {
  padding: 0 15px;
}

.chitietSP .inner-noibat .inner-nb {
  border-radius: 15px;
  background: var(--color-bg2);
  padding: 6px 20px;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}

.chitietSP .inner-noibat .inner-item {
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
  display: flex;
}

.chitietSP .inner-noibat .inner-anh img {
  width: 78.4px;
  height: 78.4px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.chitietSP .inner-noibat .inner-mota .inner-ten {
  font-size: 15px;
  font-weight: 600;
}

.chitietSP .inner-noibat .inner-mota .inner-gia {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-bg2);
}

.chitietSP .inner-thongtin {
  margin-top: 30px;
}

.chitietSP .inner-thongtin .inner-nut {
  margin-bottom: 10px;
}

.chitietSP .inner-thongtin .inner-nut .inner-mt {
  background: #35b8a0;
  padding: 0 25px;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  height: 35px;
}

.chitietSP .inner-thongtin .inner-nut .inner-mt.inner-mt-active {
  background: #ffb82e;
}

.chitietSP .inner-thongtin .inner-mota {
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.chitietSP .inner-thongtin .inner-mota .inner-nd {
  margin-bottom: 30px;
}

.chitietSP .inner-thongtin .inner-mota h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
}

.chitietSP .inner-thongtin .inner-mota .inner-desc {
  margin-bottom: 15px;
  color: #898989;
  font-size: 15px;
}

.chitietSP .inner-thongtin .inner-mota ul {
  padding-left: 17px;
}

.chitietSP .inner-thongtin .inner-mota ul li {
  margin-bottom: 6.4px;
  color: #898989;
  font-size: 15px;
}

@media (max-width: 991.98px) {
  .chitietSP .col-xl-9 {
    border-right: none;
  }
}

@media (max-width: 500px) {
  .chitietSP {
    padding-top: 100px;
  }
}

/* End ChiTietSP */

/* SanPham */

.SanPham {
  padding-bottom: 30px;
}

.SanPham .inner-head {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.SanPham .inner-head .inner-title {
  display: inline-block;
  border-radius: 20px;
  background: var(--color-bg2);
  padding: 8px 30px;
  margin: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.SanPham .inner-head .inner-title::before {
  content: "";
  height: 2px;
  width: 50%;
  background: #ffb82e;
  top: 23%;
  z-index: -1;
  position: absolute;
  left: 0;
}

.SanPham .inner-head .inner-title::after {
  content: "";
  height: 2px;
  width: 50%;
  background: #ffb82e;
  top: 23%;
  z-index: -1;
  position: absolute;
  right: 0;
}

.SanPham .inner-head .inner-desc {
  font-size: 15px;
  color: #333333;
  margin-bottom: 15px;
  font-style: italic;
}

.SanPham .inner-item {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.SanPham .inner-item .inner-img {
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.SanPham .inner-item .inner-img img {
  width: 100%;
  height: 155px;
  object-fit: cover;
  transition: all 0.4s ease;
}

.SanPham .inner-item .inner-img img:hover {
  transform: scale(1.05);
}

.SanPham .inner-item .inner-info {
  text-align: center;
}

.SanPham .inner-item .inner-ten {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.SanPham .inner-item .inner-gia {
  color: var(--color-bg2);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.SanPham .inner-item .inner-muahang {
  color: #fff;
  font-size: 14px;
  width: 85%;
  padding: 5px;
  background: var(--color-bg2);
  border-radius: 45px;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

.SanPham .inner-item .inner-muahang i {
  margin-right: 4px;
}

@media (max-width: 575.98px) {
  .SanPham .inner-item {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #e5e5e5;
  }

  .SanPham .inner-item .inner-img {
    margin-bottom: 0;
    width: 155px;
  }

  .SanPham .inner-item .inner-img img {
    width: 155px;
    height: 110px;
    border-radius: 5px;
  }

  .SanPham .inner-item .inner-info {
    padding: 8px 10px;
  }

  .SanPham .inner-item .inner-muahang {
    width: 100px;
  }
}

/* End SanPham */
